<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>


<p id="notice"><%= notice %></p>

<% if current_user %>
  <h1>Welcome!</h1>
  Signed in as <strong><%= current_user.name %></strong>!
  <%= link_to "Sign out", signout_path %>
<% else %>
  <h1>Sign in</h1>
  <%= link_to "Sign in with Facebook", signin_path %>
<% end %>

<h2>Evenementen</h2>

<%= link_to 'Nieuw evenement aanmaken', new_event_path, :class => "btn btn-primary" %>

<br /><br />

<table>
  <thead>
    <tr>
      <th>Titel</th>
      <th>Omschrijving</th>
      <th>Adres</th>
      <th>Datum</th>
      <th>Aangemaakt op</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.event_id, event %></td>
        <td><%= event.description %></td>
        <td><%= event.address %></td>
        <td><%= event.date %></td>
        <td><%= event.created_at %></td>
        <td><%= link_to 'Bewerken', edit_event_path(event) %></td>
        <td><%= link_to 'Verwijderen', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />


<div id="map" style="width: 600px; height: 500px;"></div>


<script type="text/javascript">
  // Create the map
  var map = new google.maps.Map(document.getElementById("map"), {
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  // Initialize the bounds container
  var bounds = new google.maps.LatLngBounds();

  <% @events.each do |event| %>
    // Create the LatLng
    var latLng = new google.maps.LatLng(<%= event.latitude %>, <%= event.longitude %>);

    // Create the marker
    var marker = new google.maps.Marker({
        position: latLng,
        map: map,
        title: '<%= escape_javascript(event.event_id) %>'
    });



    google.maps.event.addListener(marker, 'click', function() {
      document.location = '<%= event_path(event) %>';
    });

    // Extend the bounds
    bounds.extend(latLng);
  <% end %>

  // Fit to bounds
  map.fitBounds(bounds);
</script>
