<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>


<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<%- unless @lat_lng %>
<script>
  getGeoLocation();
</script>
<%- end %>

<%= render "shared/menu" %>

<div class="row">
  <div class="container">

  <div class="col-lg-12">

    <% if user_signed_in? %>
      <%= link_to 'Nieuw evenement aanmaken', new_event_path, :class => "btn btn-primary" %>
    <% end %>

<h2>Bij jou in de buurt (<%= @userLocation %>)</h2>
    <% @nearbylocations.each do |event| %>
      <%= link_to event.event_id, event %>
    <% end %>

    <h2>Alle evenementen</h2>

    <% @events.each do |event| %>
        <div class="panel">
          <div class="panel-heading"><h3 class="panel-title"><%= link_to event.event_id, event %></h3></div>
            <div class="panel-body">
            <span class="eventDescription"><%= event.description %></span>
            <span class="eventAddress">Adres: <%= event.address %></a>
            <span class="eventDate">Datum: <%= event.date %></span>
            <span class="eventCreatedAt">Aangemaakt op: <%= event.created_at %></span>
            <span class="eventCreator">Aangemaakt door: <%= link_to event.user.name, event.user %></span>
            <span class="eventAttendees">Aantal deelnemers: <span class="badge"><%= event.flaggings.length %></span></span>
            <span class="eventEdit">
            </div>
            <div class="panel-footer">
            <% if event.user == current_user %>
              <%= link_to 'Bewerken', edit_event_path(event) %>
              <%= link_to 'Verwijderen', event, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>

            <% if user_signed_in? %>
              <%= toggle_like_button(event, @current_user) %>
            <% end %>
          </span>
          </div>

        </div>
      <% end %>


      <h3>Activities</h3>
      <div><%= render 'shared/activities' %></div>


<br />



<div id="map" style="width: 600px; height: 500px; clear:both;"></div>


<script type="text/javascript">
  // Create the map
  var map = new google.maps.Map(document.getElementById("map"), {
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  // Initialize the bounds container
  var bounds = new google.maps.LatLngBounds();

  <% @events.each do |event| %>
    // Create the LatLng
    var latLng = new google.maps.LatLng(<%= event.latitude %>, <%= event.longitude %>);

    // Create the marker
    var marker = new google.maps.Marker({
        position: latLng,
        map: map,
        title: '<%= escape_javascript(event.event_id) %>'
    });



    google.maps.event.addListener(marker, 'click', function() {
      document.location = '<%= event_path(event) %>';
    });

    // Extend the bounds
    bounds.extend(latLng);
  <% end %>

  // Fit to bounds
  map.fitBounds(bounds);
</script>
</div>
</div>
