<p id="notice"><%= notice %></p>

<% if current_user %>
  <h1>Welcome!</h1>
  Signed in as <strong><%= current_user.name %></strong>!
  <%= link_to "Sign out", signout_path %>
<% else %>
  <h1>Sign in</h1>
  <%= link_to "Sign in with Facebook", signin_path %>
<% end %>

<h2>Evenementen</h2>

<table>
  <thead>
    <tr>
      <th>Titel</th>
      <th>Omschrijving</th>
      <th>Datum</th>
      <th>Aangemaakt op</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_id %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
        <td><%= event.created_at %></td>
        <td><%= link_to 'Details', event %></td>
        <td><%= link_to 'Bewerken', edit_event_path(event) %></td>
        <td><%= link_to 'Verwijderen', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />







<%= link_to 'Nieuw evenement aanmaken', new_event_path, :class => "btn btn-primary" %>
<br><br>
<% @events.each do |event| %>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{event.latitude}%2C#{event.longitude}" %>
<% end %>
