<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<p id="notice"><%= notice %></p>

<h1>Kaartje</h2>

  <div id="map" style="width: 600px; height: 500px;"></div>

  <script>
  // Create the map
  var map = new google.maps.Map(document.getElementById("map"), {
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  // Initialize the bounds container
  var bounds = new google.maps.LatLngBounds();

    // Create the LatLng
    var latLng = new google.maps.LatLng(<%= @event.latitude %>, <%= @event.longitude %>);

    // Create the marker
    var marker = new google.maps.Marker({
        position: latLng,
        map: map,
    });

    // Extend the bounds
    bounds.extend(latLng);

  // Fit to bounds
  map.fitBounds(bounds);
  </script>





<h2>Evenementdetails</h2>
<p>
  <strong>Titel:</strong>
  <%= @event.event_id %>
</p>

<p>
  <strong>Omschrijving:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Adres:</strong>
  <%= @event.address %>
</p>


<p>
  <strong>Datum:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Aangemaakt op:</strong>
  <%= @event.created_at %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @event.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @event.longitude %>
</p>

  <h2>Afstand naar Times Square</h2>
  <%= @event.distance_to("Times Square, New York") %>


<br><br>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
