<p id="notice"><%= notice %></p>

<p>
  <strong>Titel:</strong>
  <%= @event.event_id %>
</p>

<p>
  <strong>Omschrijving:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Datum:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Aangemaakt op:</strong>
  <%= @event.created_at %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @event.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @event.longitude %>
</p>


<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}" %>

<br><br>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
